body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./Images/Background1.gif');
}
  
h1 {
    font-weight: 100;
    font-size: 300%;
    color: #FFBA08
}
  
#canvas {
    background: #2f3e46;
}

.hidden{
    display: none;
}