body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('Images/Background1.gif');
}
  
h1 {
    font-weight: 100;
    font-size: 300%;
    color: #FFBA08;
    padding-top: 1%;
}
  
#canvas {
    background: #2f3e46;
}

.center{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time{
    color: #FFBA08;
    padding-bottom: 2%;
    font-size: 200%;
}